<a href="https://colab.research.google.com/github/saksham22/Ipnb/blob/master/sat_sun_8_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
def seq_search(arr,ele):
  for i in arr:
    if(i==ele):
      return 1
  return 0 
  
  
  
seq_search([1,2,3,4,5,6,7,8,9],0)

0

In [0]:
def bin_search(arr,ele):
  start=0;
  mid=0
  end=len(arr)-1
  while(start<end):
    mid =int(start+end)/2
    if(arr[int(mid)]==ele):
      return 1
    else:
      if(ele<arr[int(mid)]):
        end=mid-1
      else:
        start=mid+1
      
  return 0   
bin_search([1,2,3,4,5,6,7,8,9],1)

1

In [0]:


"""
This is bubble sort



"""
def bubble_sort(a):
  for i in range(len(a)):
    for j in range(len(a)-i-1):
      print(a)
      print(j,j+1)
      if(a[j]>a[j+1]):
        a[j],a[j+1]=a[j+1],a[j]
   

arr=[5,1,4,2,8]
bubble_sort(arr)
print(arr)

[5, 1, 4, 2, 8]
0 1
[1, 5, 4, 2, 8]
1 2
[1, 4, 5, 2, 8]
2 3
[1, 4, 2, 5, 8]
3 4
[1, 4, 2, 5, 8]
0 1
[1, 4, 2, 5, 8]
1 2
[1, 2, 4, 5, 8]
2 3
[1, 2, 4, 5, 8]
0 1
[1, 2, 4, 5, 8]
1 2
[1, 2, 4, 5, 8]
0 1
[1, 2, 4, 5, 8]

In [0]:
def selection_sort(a):
  for i in range(len(a)):
    min=i
    print(min)
    for j in range(i,len(a)):
      
      print(i,j)
      if(a[j]<a[min]):
        min=j
    print (min)
        
    a[i],a[min]=a[min],a[i]
    print(a)
  
arr=[5,1,4,2,8]
bubble_sort(arr)
print(arr)

0
0 0
0 1
0 2
0 3
0 4
1
[1, 5, 4, 2, 8]
1
1 1
1 2
1 3
1 4
3
[1, 2, 4, 5, 8]
2
2 2
2 3
2 4
2
[1, 2, 4, 5, 8]
3
3 3
3 4
3
[1, 2, 4, 5, 8]
4
4 4
4
[1, 2, 4, 5, 8]
[1, 2, 4, 5, 8]

In [0]:
def insertion_sort(a):
  for i in range(1,len(a)):
    j=i-1
    ele=arr[i]
    while(j>=0 and ele < a[j]):
      a[j+1]=a[j]
      j=j-1
    a[j+1]=ele
      
      

    
arr=[5,1,4,2,8]
insertion_sort(arr)
print(arr)

[1, 2, 4, 5, 8]

In [0]:
def shell_sort(a):
  gap=len(a)//2
  while(gap>0):
    for i in range(gap,len(a),gap):
      ele=arr[i]
      j=i
      while(j>=gap and ele < a[j-gap]):
        print(i,j,gap,ele)
        print(a)
        print("swap")
        a[j]=a[j-gap]
        j=j-gap
        print(a)
      a[j]=ele
    gap=gap//2
    
    
arr=[5,1,4,2,8]
shell_sort(arr)
print(arr)

2 2 2 4
[5, 1, 4, 2, 8]
swap
[5, 1, 5, 2, 8]
1 1 1 1
[4, 1, 5, 2, 8]
swap
[4, 4, 5, 2, 8]
3 3 1 2
[1, 4, 5, 2, 8]
swap
[1, 4, 5, 5, 8]
3 2 1 2
[1, 4, 5, 5, 8]
swap
[1, 4, 4, 5, 8]
[1, 2, 4, 5, 8]

In [0]:
def merdgesort(arr):
    if(len(arr)>1):
        mid=len(arr)//2
        l=arr[:mid]
        r=arr[mid:]
        print(l)
        print(r)
        merdgesort(l)
        merdgesort(r)
        merdge(l,r,arr)
        print(arr)
def merdge(L,R,A):
    i=0
    j=0
    k=0
    while(i<len(L) and j<len(R)):
        if(L[i]<R[j]):
            A[k]=L[i]
            i=i+1
            k=k+1
        else:
            A[k]=R[j]
            j=j+1
            k=k+1
    while(i<len(L)):
        A[k]=L[i]
        i=i+1
        k=k+1

    while(j<len(R)):
        A[k]=R[j]
        j=j+1
        k=k+1


a=[5,2,8,7,6]
merdgesort(a)
print(a)

[5, 2]
[8, 7, 6]
[5]
[2]
[2, 5]
[8]
[7, 6]
[7]
[6]
[6, 7]
[6, 7, 8]
[2, 5, 6, 7, 8]
[2, 5, 6, 7, 8]

In [0]:
def quick_sort(arr):
  pass

In [18]:
def max_sub_arr_sun(arr):
  maxsum=arr[0]
  for i in range(1,len(arr)):
    if(arr[i-1]>0):
      arr[i]=arr[i]+arr[i-1]
      maxsum=arr[i]
      print(maxsum)
    
  print(arr)
  print(max(arr))
  
a=[5,21,-28,7,6]
max_sub_arr_sun(a)
a=[1,2,3,-2,5]
max_sub_arr_sun(a)

26
-2
13
[5, 26, -2, 7, 13]
26
3
6
4
9
[1, 3, 6, 4, 9]
9

In [8]:
from functools import cmp_to_key
class Player:
    def __init__(self, name, score):
        self.name=name
        self.score=score
    def __repr__(self):
        print(self.name+" "+self.score)
        
    def comparator(a, b):
        print(a.score)
        print(b.score)
        if(a.score > b.score):
            return a.score
        else:
            return b.score

          
n = int(input())
data = []

for i in range(n):
    name, score = input().split()
    score = int(score)
    player = Player(name, score)
    data.append(player)
    
data = sorted(data, key=cmp_to_key(Player.comparator))
for i in data:
    print(i.name, i.score)

1
amty 12
amty 12